<!-- Example Code -->
<nav class="navbar navbar-expand-lg p-2 sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span class="mainColor">MN</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link color" aria-current="page" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color" href="#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color" href="#">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link color me-3">CONTACT</a>
                </li>
                <li class="nav-item color">
                    <a href="#" class="btn nav-link">BLOG</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Example Code -->