<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 contents">
                <div class="content">
                    <h3 class="display-3 fontChange">Hello, I'm</h3>
                    <h2 class="display-2 mainColor fontChange">MiLON Chandro</h2>
                    <h5>
                        I am a <span class="mainColor">Front End Developer</span> with entry-level experience specializing in web development, Adept at identifying opportunities to enhance front-end design and improve the user experience.
                    </h5>    
                </div>
            </div>
            <div class="col-xl-5">
                <div>
                    <img class="mw-100" src="assets/Programmer-bro.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
