// about css
.about-section{
   background: url('../../../../assets/hero-bg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   color: white;
   height: 100vh;
   display: flex;
   align-items: center;
}

.about-section .container .contents {
  display: flex;
  align-items: center;
}

.about-section img{
   height: 100%;
}
