 // skill
 .skills {
    background-color:  hsl(240, 100%, 6%);
 }

 .card {
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: 500ms;
   background: linear-gradient(18deg, #eee 42%, #fff 30.1%)
 }

 .card:hover {
    transform: translateY(-6px);
    opacity: 0.8;
 }

 .card .image {
   width: 100px;
   height: 100px;
   display: flex;
   margin: 0 auto;
   padding: 15px;
 }

 .card .image .card-img-top {
    width: 100%;
    height: 100%;
 }