<section class="resume" id="resume">
    <div class="container  py-5">
        <div class="row">
            <div class="col-xl-4 text-center">
                <h2 class="mainColor fw-bold mt-1">My Resume</h2>
            </div>
            <div class="col-xl-8 mt-3">
                <div class="row">
                    <div class="col-xl-4 col-6">
                        <img class="img-thumbnail mw-100 m-auto" src="assets/mn.jpg" alt="">
                    </div>
                    <div class="col-xl-8 col-6 resume-text">
                        <h1 class="text-white fw-bold">Milon Roy</h1>
                        <h4 class="text-warning">Web Developer</h4>
                        <p class="text-white"><strong>Address:</strong> Rangpur City in Bangladesh</p>
                        <p><a class="nav-link text-white" href="tel:+8801774138442"> <strong>Phone:</strong>
                                01774138442</a></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/career.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">CAREER OBJECTIVE</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p>To take a challenging role as Web Developer in a highly technical company where I could
                            utilize my skills in Web Design, Web Development, and e-Commerce and use these skills in
                            providing quality service to the company.</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/tie.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">EDUCATION</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p class="fw-bold">RANGPUR CITY INSTITUTE OF TECHNOLOGY</p>
                        <P> <span style="font-size: 15px;">DIPLOMA IN COMPUTER
                                TECHNOLOGY</span>
                            Jan 2019 ‐ Present | Rangpur,
                            Bangladesh</P>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/language.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">lANGUAGE</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p>English, Bangla</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/user.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">PERSONAL ACOUNT</span>
                        </div>
                    </div>
                    <div class="col-xl-7 col-6">
                        <div class="my-acount">
                            <h6 class="fw-bold text-center">HIEW ME</h6>
                            <div>
                                <div class="d-flex justify-content-evenly mt-3 ">
                                    <div>
                                        <a target="blank" class="nav-link" href="https://github.com/milonroy26"> <img
                                                id="acount-icon" src="assets/resume/github.svg" alt=""> </a>
                                    </div>
                                    <div>
                                        <a target="_blank" class="nav-link"
                                            href="https://www.facebook.com/profile.php?id=100060870383690"> <img
                                                id="acount-icon" src="assets/resume/facebook.svg" alt=""> </a>
                                    </div>
                                    <div>
                                        <a target="_blank" class="nav-link" href="https://www.instagram.com/mnroy35/">
                                            <img id="acount-icon" src="assets/resume/instagram.svg" alt=""> </a>
                                    </div>
                                </div>
                                <div class="mt-3 text-center email-box">
                                    <a href="mailto:mnroy293@gmail.com" target="_blank" rel="noreferrer"><strong
                                            class="me-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 1024 1024" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg"
                                                style="fill: rgb(0, 0, 0); font-size: 1.4rem;">
                                                <path
                                                    d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 110.8V792H136V270.8l-27.6-21.5 39.3-50.5 42.8 33.3h643.1l42.8-33.3 39.3 50.5-27.7 21.5zM833.6 232L512 482 190.4 232l-42.8-33.3-39.3 50.5 27.6 21.5 341.6 265.6a55.99 55.99 0 0 0 68.7 0L888 270.8l27.6-21.5-39.3-50.5-42.7 33.2z">
                                                </path>
                                            </svg></strong>Mail Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>