<section class="resume" id="resume">
    <div class="container  py-5">
        <div class="row">
            <div class="col-xl-4 text-center">
                <h2 class="mainColor fw-bold">My Resume</h2>
            </div>
            <div class="col-xl-8 mt-3">
                <div class="row">
                    <div class="col-xl-4 col-6">
                        <img class="img-thumbnail mw-100 m-auto" src="assets/mn.jpg" alt="">
                    </div>
                    <div class="col-xl-8 col-6 resume-text">
                        <h1 class="text-white fw-bold">Milon Roy</h1>
                        <h4 class="text-warning">Web Developer</h4>
                        <p class="text-white"><strong>Address:</strong> Rangpur City in Bangladesh</p>
                        <p><a class="nav-link text-white" href="tel:+8801774138442"> <strong>Phone:</strong>
                                01774138442</a></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/career.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">CAREER OBJECTIVE</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p>To obtain a position as a web developer in a fun, fast-paced, cutting-edge
                            environment
                            that promotes teamwork and integrity and fosters personal and professional develop-
                            ment.</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/tie.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">EDUCATION</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p class="fw-bold">RANGPUR CITY INSTITUTE OF TECHNOLOGY</p>
                        <P> <span style="font-size: 15px;">DIPLOMA IN COMPUTER
                                TECHNOLOGY</span>
                            Jan 2019 ‐ Present | Rangpur,
                            Bangladesh</P>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/language.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">EDUCATION</span>
                        </div>
                    </div>
                    <div class="resume-content col-xl-7 col-6">
                        <p>English, Bangla</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-xl-5 col-6">
                        <div class="resume-title">
                            <span id="resumeIcon">
                                <img src="assets/resume/user.svg" alt="">
                            </span>
                            <span class="text-white ms-3 fs-5">PERSONAL ACOUNT</span>
                        </div>
                    </div>
                    <div class="col-xl-7 col-6">
                        <div class="my-acount">
                            <h6 class="fw-bold text-center">HIEW ME</h6>
                            <div class="d-flex justify-content-evenly mt-3 ">
                                <div>
                                    <a target="blank" class="nav-link" href="https://github.com/milonroy26"> <img id="acount-icon" src="assets/resume/github.svg" alt=""> </a>
                                </div>
                                <div>
                                    <a target="_blank" class="nav-link" href="https://www.facebook.com/profile.php?id=100060870383690"> <img id="acount-icon" src="assets/resume/facebook.svg" alt=""> </a>
                                </div>
                                <div>
                                    <a target="_blank" class="nav-link" href="https://www.instagram.com/mnroy35/"> <img id="acount-icon" src="assets/resume/instagram.svg" alt=""> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>