.resume{
    background-color: #04293A;
}
.resume img{
    width: 160px;
}
.resume-text .text-white{
    margin-bottom: 4px;
}
#resumeIcon img{
    width: 32px;
    height: 27px;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}
.resume-content p{
    color: rgb(212, 215, 219);
}