.resume{
    background: url('../../../../assets/resume-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.resume .member {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume .member .pic {
    overflow: hidden;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.resume .member .pic img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.resume .member:hover .pic img {
    transform: scale(1.1);
} 


.resume .member .resume-text h4 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 20px;
    color: #fff;
}

.resume .member .resume-text h5 {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #08d665;
    position: relative;
}

.resume .member .resume-text h5::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}



#resumeIcon img{
    width: 32px;
    height: 27px;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}
.resume-content p{
    color: rgb(212, 215, 219);
}
.my-acount{
    background-color: #161335;
    color: rgb(212, 215, 219);
    padding: 28px 0 0 0;
    border-radius: 4px;
}

#acount-icon {
    width: 42px;
    color: gray;
    background: white;
    border-radius: 50%;
    padding: 1px;
    transition: 500ms;
}
#acount-icon:hover{
    background-color: #08d665;
}
.email-box a{
    color: #111;
    background-color: #fff;
    display: block;
    padding: 9px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    transition: .3s ease-in-out,
}
.email-box a:hover{
    opacity: 0.8;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .resume .member .pic {
        overflow: hidden;
        height: 180px;
        width: 180px;
        border-radius: 10px;
    }
 }
