<section class="resume">
    <div class="container  py-5">
        <div class="row">
            <div class="col-xl-5 text-center">
                <h2 class="mainColor fw-bold">My Resume</h2>
            </div>
            <div class="col-xl-7 mt-3">
                <div class="row">
                    <div class="col-xl-4 col-6">
                        <img class="img-thumbnail mw-100 m-auto" src="assets/mn.jpg" alt="">
                    </div>
                    <div class="col-xl-8 col-6 resume-text">
                        <h1 class="text-white fw-bold">Milon Roy</h1>
                        <h4 class="text-warning">Web Developer</h4>
                        <p class="text-white"><strong>Address:</strong> Rangpur City in Bangladesh</p>
                        <p><a class="nav-link text-white" href="tel:+8801774138442"> <strong>Phone:</strong> 01774138442</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-6">
                        <div>
                            <span id="resumeIcon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                           <g>
                               <g>
                                   <polygon style="fill:#E02B22;" points="211.862,141.241 141.241,35.31 150.069,0 256,61.793"/>
                                   <polygon style="fill:#E02B22;" points="300.138,141.241 370.759,35.31 361.931,0 256,61.793"/>
                               </g>
                               <polygon style="fill:#B71F1C;" points="300.138,141.241 211.862,141.241 256,61.793 	"/>
                               <polygon style="fill:#E02B22;" points="335.448,432.552 256,512 185.379,432.552 211.862,141.241 300.138,141.241"/>
                           </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                           </svg></span>
                        </div>
                    </div>
                    <div class="col-xl-8 col-6 text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>