.resume{
    background-color: #04293A;
}
.resume img{
    width: 160px;
}
.resume-text .text-white{
    margin-bottom: 4px;
}
#resumeIcon img{
    width: 32px;
    height: 27px;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}
.resume-content p{
    color: rgb(212, 215, 219);
}
.my-acount{
    background-color: #161335;
    color: rgb(212, 215, 219);
    padding: 28px 0 0 0;
    border-radius: 4px;
}

#acount-icon {
    width: 42px;
    color: gray;
    background: white;
    border-radius: 50%;
    padding: 1px;
    transition: 500ms;
}
#acount-icon:hover{
    background-color: #08d665;
}
.email-box a{
    color: #111;
    background-color: #fff;
    display: block;
    padding: 9px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    transition: .3s ease-in-out,
}
.email-box a:hover{
    opacity: 0.8;
}
