@import "~swiper/css";
@import "~swiper/css/pagination";


.project-section{
    background-color: #04293a;
}
.card{
    border: 1px solid pink !important;
    border-radius: 0 !important;
    
}

.card-img-top {
    height: 235px;
}

.info {
    width: 100%;
    padding: 4px 4px;
    background: rgba(0, 0, 0, 0.6);
}

.info h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 6px;
}

.info a {
    text-decoration: none;
    color: #fff;
    border: 2px solid mediumvioletred;
    border-radius: 20px;
    font-size: 15px;
    padding: 2px 8px;
    text-align: center;
    transition: 500ms;
}
.info a:hover{
    color: #08d665;
}