
<div class="project-section" id="projects">
    <div class="container py-5">
        <h4 class="mainColor fw-bold mt-3 text-center">PROJECTS</h4>

        <div class="mt-5">

            <swiper
                [slidesPerView]="0"
                [spaceBetween]="6"
                [loop]="true"
                [centeredSlides]="true"
                
                [autoplay]="{
                    delay: 6500,
                    disableOnInteraction: false
                }"
                
            
                        
                [breakpoints]="{
                '0': {
                    slidesPerView: 1
                },
                '768': {
                    slidesPerView: 2
                },
                '1024': {
                    slidesPerView: 3
                }
                }"

                class="mySwiper">
                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://deluxe-klepon-f0303d.netlify.app/">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/e-web.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">E COMMERCE</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://e-bookopolis12.netlify.app/">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/book.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">BOOK SALE E COMMERCE</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a href="#">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/move.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">MOVES</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://sakilahospital.netlify.app/">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/doctor.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">HOSPITAL</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>
                
            </swiper>

        </div>

        <div>
            <swiper
                [slidesPerView]="0"
                [spaceBetween]="6"
                [loop]="true"
                [centeredSlides]="true"
                [pagination]="{
                    clickable: true
                }"

                [autoplay]="{
                    delay: 6500,
                    disableOnInteraction: false
                }"
                
            
                        
                [breakpoints]="{
                '0': {
                    slidesPerView: 1
                },
                '768': {
                    slidesPerView: 2
                },
                '1024': {
                    slidesPerView: 3
                }
                }"

                class="mySwiper">
                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://hardcore-edison-0db472.netlify.app/">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/emajon.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">E COMMERCE</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://bdassistant.com/home">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/bdassistant.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text"> BD ASSISTANT</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://rentals.bdassistant.com/">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/rent.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">RANTALS</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    
                    <div class="project-card">

                        <div class="box">

                            <div class="top-content">
                               <a target="_blank" href="https://freenotebook.netlify.app/login">Shwo Project <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
                            </div>
    
                            <div class="image">
                                <img class="card-img-top" src="../../../../assets/project/note.jpg" alt="">
                            </div>
    
                            <div class="card-body content">
                                <h4 class="card-text">NOTE BOOKS</h4>
                                <h3>Web development</h3>
                            </div>
                        </div>

                    </div>

                </ng-template>
                
            </swiper>
        </div>

    </div>
</div>

