<div class="project-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-3">
                <div class="projectCard card">
                    <img class="card-img-top" src="../../../../assets/web1.jpg" alt="">
                    <div class="card-body info d-flex justify-content-between">
                        <h3 class="card-text">E COMMERCE WEB</h3>
                        <a href="#">LIVE WEB</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="projectCard card">
                    <img class="card-img-top" src="../../../../assets/web2.jpg" alt="">
                    <div class="card-body info d-flex justify-content-between">
                        <h3 class="card-text">E COMMERCE WEB</h3>
                        <a href="#">LIVE WEB</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="projectCard card">
                    <img class="card-img-top" src="../../../../assets/web3.jpg" alt="">
                    <div class="card-body info d-flex justify-content-between">
                        <h3 class="card-text">E COMMERCE WEB</h3>
                        <a href="#">LIVE WEB</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="projectCard card">
                    <img class="card-img-top" src="../../../../assets/web4.jpg" alt="">
                    <div class="info d-flex justify-content-between">
                        <h3 class="card-text">E COMMERCE WEB</h3>
                        <a href="#">LIVE WEB</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>