<app-header></app-header>

<!-- About Section -->
<div class="about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="content mt-3">
                    <h2 class="display-3">Hello, I'm</h2>
                    <h2 class="display-2 mainColor">MiLON Chandro</h2>
                    <h6>I am a fullstack web developer with a passion for building beautiful and functional web
                        applications.</h6>
                </div>
            </div>
            <div class="col-xl-5">
                <div>
                    <img class="mw-100" src="assets/Programmer-bro.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<app-skills id="skills"></app-skills>