@import '../node_modules/bootstrap/scss/bootstrap.scss';

.mainColor{
    color: #08D665;
}

.btn {
    background-color: #08D665!important;
    border: 1px solid #03c4a1!important;
    box-shadow: 0 0 0!important;
    font-weight: 500;
    padding: 6px 1rem !important;
    transition: .2s ease-in-out;
}